body {
	margin: 0;
	font-family: Helvetica, sans-serif, sans;
	color: #333;
}

a {
	color: #333;
	text-decoration: none;
}

#header {
	height: 70px;
	width: 100%;
	background-color: lightsteelblue;
}

#nav-container {
	padding: 10px 30px;
}

#logo {
	width: 50px;
}

.nav-ul {
	float: right;
	padding-top: 12px;
}

.nav-ul a {
	padding-left: 30px;
}

#menu-icon {
	width: 30px;
	display: none;
}

#parallax-header {
	background-image: url("parallax-img.jpg");
	height: 500px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#parallax-text {
	padding-top: 100px;
	margin-right: auto;
	margin-left: 10%;
	width: 40%;
	text-align: center;
	font-weight: bold;
	color: #ddd;
}

#row-container {
	padding: 50px;
	text-align: center;
}

#row-container p {
	font-size: 20px;
	margin-bottom: 40px;
	
}

/*#img-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}*/

.feature-block {
	padding: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#reverse {
	flex-direction: row-reverse;
}

.feature-block img {
	width: 300px;
	height: 300px;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feature-text {
	/*display: flex;
	flex-direction: column*/;
	width: 50%;
	padding: 50px 20px;
	text-align: center;
}

.feature-text p {
	font-size: 20px;
}

hr {
	width: 80%;
	border-style: solid;
	border-color: lightgrey;
}

#footer {
	width: 100%;
	height: 50px;
	background-color: steelblue;
	text-align: center;
	color: lightsteelblue;
}

#footer p {
	padding-top: 15px;
}

@media screen and (max-width: 796px) {
	.feature-text {
		padding-top: 0;
		padding-bottom: 30px;
	}

	h2 {
		margin-top: 0;
	}
}

@media screen and (max-width: 760px) {
	.nav-ul a {
		display: none;
	}
	#menu-icon {
		display: block;
		float: right;
		margin-top: 7px;
	}
	.nav-ul.responsive {
		position: relative;
		float: right;
		z-index: 10;
		width: 130px;
		padding-bottom: 20px;
		font-size: 20px;
		background-color: black;
		top: 60;
		right: -29;
	}
	.nav-ul.responsive + #menu-icon {
		position: absolute;
		top: 10;
		right: 30;
	}
	.nav-ul.responsive a {
		display: block;
		padding: 5px 20px;
		color: white;
	}
}